In [1]:
import pandas as pd
import numpy as np

In [2]:
predict = pd.read_csv('group_0_prediction.csv')
test = pd.read_csv('option_test_wolabel.csv')
train = pd.read_csv('option_train.csv')

In [3]:
predict.describe()

             Value           BS
count  1120.000000  1120.000000
mean      3.402876     0.352679
std      57.971179     0.478017
min       0.010000     0.000000
25%       1.000000     0.000000
50%       1.000000     0.000000
75%       1.000000     1.000000
max    1903.000000     1.000000

In [4]:
test.describe()

                 S            K          tau            r
count  1120.000000  1120.000000  1120.000000  1120.000000
mean    441.110753   440.406250     0.203589     0.030223
std       7.630218    23.788616     0.103300     0.000542
min     425.472331   375.000000     0.003968     0.029510
25%     433.734305   420.000000     0.115079     0.029820
50%     443.411426   440.000000     0.206349     0.030130
75%     447.350699   460.000000     0.285714     0.030440
max     455.880619   500.000000     0.392857     0.031880

In [5]:
train.describe()

             Value            S            K          tau            r
count  1679.000000  1679.000000  1678.000000  1679.000000  1680.000000
mean     15.072013   440.639445   438.241955     0.437519     0.030235
std      14.036492    13.130436    23.408989     7.057555     0.000557
min       0.125000     0.000000   375.000000     0.003968     0.029510
25%       2.255002   433.863864   420.000000     0.119048     0.029820
50%      11.220588   442.525366   440.000000     0.202381     0.030130
75%      25.745904   447.320414   455.000000     0.285714     0.030540
max      60.149367   455.880619   500.000000   250.000000     0.031880

In [6]:
train.isnull().sum()

Value    1
S        1
K        2
tau      1
r        0
BS       0
dtype: int64

In [7]:
train = train.dropna()

In [8]:
train.isnull().sum()

Value    0
S        0
K        0
tau      0
r        0
BS       0
dtype: int64

In [9]:
train = train.loc[train['tau']<=1,]

In [10]:
train['tau'].describe()

count    1676.000000
mean        0.201888
std         0.099806
min         0.003968
25%         0.119048
50%         0.202381
75%         0.285714
max         0.392857
Name: tau, dtype: float64

In [11]:
train['S'].sort_values()

879       0.000000
534     425.472331
602     425.472331
1316    425.472331
928     425.472331
           ...
1259    455.880619
1571    455.880619
1218    455.880619
507     455.880619
663     455.880619
Name: S, Length: 1676, dtype: float64

In [12]:
train = train.loc[train['S']!=0,]
train['S'].describe()

count    1675.000000
mean      440.900665
std         7.527414
min       425.472331
25%       433.875313
50%       442.525366
75%       447.320414
max       455.880619
Name: S, dtype: float64

In [13]:
train.shape

(1675, 6)

In [14]:
train

          Value           S      K       tau        r     BS
0     21.670404  431.623898  420.0  0.341270  0.03013  Under
1      0.125000  427.015526  465.0  0.166667  0.03126   Over
2     20.691244  427.762336  415.0  0.265873  0.03116  Under
3      1.035002  451.711658  460.0  0.063492  0.02972   Over
4     39.553020  446.718974  410.0  0.166667  0.02962  Under
...         ...         ...    ...       ...      ...    ...
1675   1.470000  444.397163  475.0  0.273810  0.03034   Over
1676  34.927317  438.453825  410.0  0.301587  0.02972  Under
1677  41.127997  428.042219  390.0  0.170635  0.03188  Under
1678   0.440003  439.081203  480.0  0.293651  0.02962   Over
1679   0.410002  432.167692  465.0  0.218254  0.02993   Over

[1675 rows x 6 columns]

In [15]:
train.describe()

             Value            S            K          tau            r
count  1675.000000  1675.000000  1675.000000  1675.000000  1675.000000
mean     15.097481   440.900665   438.202985     0.201907     0.030236
std      14.043011     7.527414    23.409897     0.099833     0.000558
min       0.125000   425.472331   375.000000     0.003968     0.029510
25%       2.237501   433.875313   420.000000     0.119048     0.029820
50%      11.250000   442.525366   435.000000     0.202381     0.030130
75%      25.784245   447.320414   455.000000     0.285714     0.030540
max      60.149367   455.880619   500.000000     0.392857     0.031880